.title{
    font-family: TiltNeon;
    font-size: 100px;
    text-shadow: -7px 2x 0 dimgray;
    color : gray;
    height: 100px;
    text-align: center;
    font-style: normal;
}
 
body{
    font-family: RobotoCondensd;
    color: dimgray;
    background: cornsilk;
}

div{
    text-align: left;
    font-family: RobotoCondensed;
    font-size: 25px;
    font-style: normal;
margin: 10px;
}

#patriotmilitia{
    font-family: RobotoCondensed;
    font-style: italic;
}

#patriotmilitia:hover:after {
content: "The Christian Patriot movement is a subset within the broader American Patriot movement that promotes and emphasizes Christian nationalism as their core goal and philosophy. Like the larger movement, it promotes an interpretation of American history in which the federal government has turned against the ideas of liberty and natural rights expressed in the American Revolution.";
color:midnightblue;
font-weight: 800;
font-style:italic;
}

#posse{
    font-family: RobotoCondensed;
    font-style: italic;
}

#posse:hover:after{
    content:"The Posse Comitatus (Latin, force of the county) is a loosely organized American far-right extremist social movement which began in the late 1960s. Its members spread a conspiracy-minded, anti-government, and anti-Semitic message linked to white supremacy aiming to counter what they believe is an attack on their social and political rights as white Christians.";
    color: midnightblue;
    font-weight: 800;
    font-style: italic;
}

#waco{
    font-family: RobotoCondensed;
    font-style: italic;
}

#waco:hover:after {
    content: "The Waco siege, also known as the Waco massacre, was the siege by U.S. federal government and Texas state law enforcement officials of a compound belonging to the religious cult known as the Branch Davidians between February 28 and April 19, 1993. The Branch Davidians, led by David Koresh, were headquartered at Mount Carmel Center ranch in unincorporated McLennan County, Texas, 13 miles (21 kilometers) northeast of Waco. Suspecting the group of stockpiling illegal weapons, the Bureau of Alcohol, Tobacco, and Firearms (ATF) obtained a search warrant for the compound and arrest warrants for Koresh and several of the group's members.";
    color:midnightblue;
    font-weight: 800;
    font-style:italic;
    }
    